<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0101ENSkillsNetwork1005-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

<h3> Get to Know a Pandas Array </h3>

You will use the dataframe <code>df</code> for the following:

In [1]:
#Run below if you haven't installed pandas
#%pip install pandas

import pandas as pd

df=pd.DataFrame({'a':[11,21,31],'b':[21,22,23]})

1) Display the first three rows:

In [5]:
print(df.loc[0])
print(df.loc[1])
print(df.loc[2])

df.head(3)

a    11
b    21
Name: 0, dtype: int64
a    21
b    22
Name: 1, dtype: int64
a    31
b    23
Name: 2, dtype: int64

    a   b
0  11  21
1  21  22
2  31  23

<details><summary>Click here for the solution</summary>

```python
df.head(3)
    
```

</details>

2) Obtain column  <code> 'a' </code>:

In [6]:
df['a']

0    11
1    21
2    31
Name: a, dtype: int64

<details><summary>Click here for the solution</summary>

```python
df['a']
    
```

</details>

<hr>

<h3 align="center"> Â© IBM Corporation 2020. All rights reserved. <h3/>